/**
 * Project - Link List
 */

.linkList {
  @include list-unstyled();
  @include row();
  gap: space();

  &__item {
    flex: 1 1 100%;

    @media (min-width: breakpoint("md")) {
      flex: 1 1 calc(50% - #{space()} / 2);
    }
  }

  &__link {
    display: block;
    padding: 0.5rem;
    background-color: theme-color("primary");
    opacity: 0.85;
    transition: opacity 0.25s ease;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  &__inner {
    @include row();
    border: 1px solid theme-color("lightest");
  }

  &__image {
    flex: 0 0 30%;
    order: 2;
    margin: 0;
    padding: 0.5rem;
  }

  &__content {
    flex: 0 0 70%;
    order: 1;
    color: theme-color("lightest");
    text-align: center;
  }

  &__title {
    margin-block: space();
  }

  &__summary {
    width: min(100%, 24rem);
    margin-inline: auto;
    padding-inline: 0.5rem;
    font-size: font-size("small");
  }
}
