/**
 * Project - Post List
 */

.postList {
  @include list-unstyled();

  .postItem {
    &__image {
      img {
        aspect-ratio: 1;
        object-fit: contain;
      }
    }

    &__info {
      margin-block-start: space();
      margin-block-end: space("x-small");
    }

    &__heading {
      margin-block-start: space();
      margin-block-end: space("x-small");
      font-size: $h4-font-size;
    }

    &__excerpt {
      margin-block-end: space("x-small");
    }

    &__excerpt, &__more {
      @include small-text();
    }
  }

  &--grid {
    @include row();

    .postList__item {
      @include col(4, false, "md");
      margin-block-end: space("medium");
    }

    .postItem {
      &__more {
        text-align: center;
      }
    }
  }

  &--list {
    .postList__item {
      margin-block-end: space("medium");
      padding-block-end: space("medium");
      border-block-end: 1px dotted theme-color('dark');

      &:last-child {
        border: 0;
      }
    }

    .postItem {
      @include row(center);

      &__image {
        @include col(3, ture);
        max-width: 36rem;
        margin: 0;
      }

      &__content {
        @include col(6, ture);
      }

      &__more {
        display: block;
        text-align: right;
      }
    }
  }
}
